* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* Navbar */

.nav-bar {
  background-color: #fff;
}

.logo {
  color: #0290ff;
}

.nav-con {
  max-width: 920px;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Books */

.book-con {
  max-width: 920px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom {
  display: flex;
  gap: 2rem;
}

.book-status {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Add book */

.add-book-con {
  max-width: 920px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
