* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* Navbar */

.nav-bar {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #0290ff;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #0290ff;
}

.nav-con {
  max-width: 920px;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.linkb {
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
}

.nav-link .linkb:hover {
  border-bottom: 3px solid #0290ff;
  padding: 5px;
}

/* Books */

.book-con {
  max-width: 920px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding-right: 6rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom {
  display: flex;
  gap: 2rem;
}

.book-status {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.book-author {
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #4386bf;
}

.book-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #4386bf;
}

.comment,
.remove {
  border-right: 2px solid lightgray;
  padding-right: 2rem;
}

.status-plus-chapter {
  display: flex;
  justify-content: space-between;
}

.status-con {
  display: flex;
  align-items: center;
  border-right: 2px solid lightgray;
  padding-right: 3rem;
}

.book-title {
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.progress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-chapter {
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.current-chapter {
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.percentage {
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.circular {
  width: 3rem;
  height: 3rem;
}

.chapter-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.update-btn {
  color: #fff;
  background-color: #0290ff;
  width: 11.5rem;
  height: 2.063rem;
  margin: 1.5rem 0 0 0;
  border-radius: 5px;
  border: solid 1px var(--white);
}

/* Add book */

.add-book-con {
  max-width: 920px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.form-content {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.form-content .submit {
  min-width: 6rem;
}

.title {
  min-width: 25.5rem;
  height: 2.813rem;
  border: solid 1px lightgray;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  font-size: 1rem;
}

.author {
  min-width: 11.5rem;
  height: 2.813rem;
  border: solid 1px lightgray;
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  font-size: 1rem;
}

.submit-btn {
  color: #fff;
  background-color: #0290ff;
  width: 14.5rem;
  height: 2.813rem;
  border-radius: 0.5rem;
  border: solid 1px var(--white);
  font-size: 1rem;
}

/*---- Footer ----*/

.footer {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.footer-con {
  max-width: 920px;
  margin: 0 auto;
  height: 10vh;
  text-align: center;
  background-color: #fff;
  padding-top: 1.5rem;
}

/*---- Popup ----*/

.plus-book-btn {
  position: fixed;
  right: 12rem;
  top: 75vh;
  width: 50px;
  height: 50px;
  color: #0290ff;
  cursor: pointer;
}

/* -------- Responsive Hambergur Menu ---------- */

.nav-bar .mobile-navigation {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-navigation {
    display: flex;
    width: 100%;
  }

  .nav-bar .mobile-navigation {
    display: flex;
  }

  .nav-bar .navigation {
    display: none;
  }

  .hamburger {
    color: #0290ff;
    height: 25px;
    width: 25px;
    margin-left: 1rem;
    cursor: pointer;
  }

  .hamburger:hover {
    height: 28px;
    width: 28px;
  }

  .closeIcon {
    color: #0290ff;
    height: 25px;
    width: 25px;
    margin-left: 1rem;
    cursor: pointer;
  }

  .closeIcon:hover {
    height: 28px;
    width: 28px;
  }

  .mobile-navigation .nav-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 30vh;
    padding: 1.5rem;
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: #ececec;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .mobile-navigation .logo {
    margin-right: 1rem;
  }

  .mobile-navigation .mob-li {
    color: #000;
    font-size: 1.2rem;
  }

  .mobile-navigation .mob-li:hover {
    color: #0290ff;
    font-size: 1.3rem;
  }

  /* ----- Book section ----- */

  .book-con {
    max-width: 100%;
    padding: 1rem;
    background-color: #fff;
    display: flex;
  }

  .bottom {
    gap: 1rem;
  }

  .comment,
  .remove {
    padding-right: 1rem;
  }

  .status-plus-chapter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .status-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    gap: 1rem;
    padding-right: 0;
  }

  .update-btn {
    color: #fff;
    background-color: #0290ff;
    width: auto;
    height: 2.063rem;
    margin: 0.5rem 0 0 -4rem;
  }

  .current-chapter {
    font-size: 0.7rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
  }

  /* ---- Add book ---- */

  .add-book-con .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title,
  .author {
    min-width: 20rem;
  }

  /*---- Popup ----*/

.plus-book-btn {
  right: 0;
  top: 70vh;
}

}
